
/*          GLOBAL STYLES          */



:root {
    --bg: #000000;
    --bg-elevated: #051427;
    --accent: #530f1e;
    --accent-2: #a44322;
    --accent-3: #f8bc04;
    --text: #eee6cd;
    --text-muted: #888888;
    --transparent: #00000000;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background: var(--bg);
    color: var(--text, #eee6cd);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.blank-button {
    background: #00000000;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 1.25rem;
    padding: 1.5rem 1rem;
    max-width: 100%;
    margin: 6rem auto 0; 
    justify-content: center;
}

.active-flex {
    display: flex;
}


/* LIBRARY */

.library-layout {
    margin-top: 100px;
}

/* ------- */
