
/*          GLOBAL STYLES          */



:root {
    --bg: #000000;
    --bg-elevated: #051427;
    --accent: #530f1e;
    --accent-2: #a44322;
    --accent-3: #f8bc04;
    --text: #eee6cd;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: var(--bg);
    color: var(--text, #eee6cd);
    display: flex;
    flex-direction: column;
}

.blank-button {
    background: #00000000;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr; 
    max-width: 800px;
    margin: 6rem auto 0; 
    gap: 1.25rem;
    padding: 1.5rem 1rem;
}
