.login-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.logo-part {
    flex: 1;
    width: 100%;
    height: 100%;
    align-content: center;
    box-shadow:
        0 4px 8px var(--accent-2),
        0 8px 16px var(--accent-3);
    z-index: 10;
}

.inf-part {
    flex: 1;
    background: var(--accent);
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center; 
}

.logo-organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-organizer img {
    padding: 4rem;
}

.logo-img {
    max-width: 50%;
}

.logo-message {
    padding: 4rem;
    color: var(--text);
}

.inf-organizer {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.login-text-container,
.signup-text-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.change-auth {
    color: var(--accent-3);
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.15s ease;
}

.change-auth:hover {
    color: var(--accent-2);
}

.login-form,
.signup-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    align-items: center;
    justify-content: center;
}

.auth-form {
    display: none;
}

.form-title {
    font-size: 2rem;
}

.blank-button.form-submit-button {
    color: var(--accent);
    background-color: var(--accent-3);
    padding: 0.5rem 3rem;
    border-radius: 75px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.2s ease;
}

.blank-button.form-submit-button:hover {
    color: var(--accent-3);
    background-color: var(--accent-2);
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form-label {
    font-size: 1.5rem;
}

.form-input {
    background: none;
    border: none;
    border-bottom: 2px solid var(--accent-2);
    color: var(--text);
    font-size: 1.3rem;
    font-family: inherit;
    padding: 0.5rem;
}

.form-input::placeholder {
    color: var(--text-muted);
    font-size: 1.3rem;
    font-family: inherit;
}

.form-input:focus {
    border: none;
    border-bottom: 2px solid var(--accent-3);
    outline: none; 
}

.form-field::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 1px;
    box-shadow:
        0 4px 8px var(--accent-2),
        0 8px 16px var(--accent-3);
}

.form-field:focus-within::after {
    box-shadow:
        0 4px 8px var(--accent-3),
        0 8px 16px var(--accent-3);
}

