.page-profile {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.profile-sidebar {
    background: var(--bg);
    border-right: 1px solid var(--accent-2);
    display: flex;
    flex-direction: column;
    box-shadow:
        0 4px 8px var(--accent-2),
        0 8px 16px var(--accent-3); 
    z-index: 10;
}

.profile-sidebar-logo img{
    height: 32px;
    display: block;
    margin: 3rem;
}

.profile-sidebar-options-organizer {
    display: flex;
    flex-direction: column;
}

.sidebar-option-button {
    color: var(--text);
    font-size: 1.4rem;
    font-weight: bold;
}

.blank-button.sidebar-option-button {
    position: relative;
    padding: 2.3rem 1rem;
    border-top: 1px solid var(--accent-2);
    border-bottom: 1px solid var(--accent-2);
    transition: 0.2s ease;
}

.blank-button.sidebar-option-button:hover {
    border-top: 1px solid var(--accent-3);
    border-bottom: 1px solid var(--accent-3);
    color: var(--accent-3);
}

.blank-button.sidebar-option-button:active {
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    background-color: var(--accent);
}

.blank-button.sidebar-option-button.is-active {
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    background-color: var(--accent);
}

.blank-button.sidebar-option-button.is-active:hover {
    color: var(--text);
}


.profile-content {
    background: var(--bg);
    padding: 2rem;
    width: 100%;
}

.profile-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.profile-image-wrapper {
    position: relative; 
    display: inline-block;
    border-radius: 50%;
    border: 5px solid var(--accent-2);
    overflow: hidden;
    transition: 0.2s ease;
    margin-bottom: 2rem;
}

.profile-image {
    border-radius: 50%;
    display: block;
    height: 250px;
    width: 250px;
    transition: 0.2s ease;
}

.profile-image-wrapper:hover {
    box-shadow: 0px 0px 16px 4px var(--accent-2);
    cursor: pointer;
}


.profile-image-wrapper:hover .profile-image {
    filter: blur(10px);
}

.profile-image-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #000000aa;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
}

.profile-image-wrapper:hover .profile-image-overlay {
    opacity: 1;
}

.profile-info-organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    gap: 1.5rem;
}

.profile-info-title {
    color: var(--accent-2);
    font-size: 2rem;
    font-weight: bold;
}

.profile-info{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.5rem;
    border-bottom: 2px solid var(--accent-2);
}

.my-videos-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.my-videos-header {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.blank-button.add-video-button {
    background-color: var(--accent-2);
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text);
    border-radius: 15px;
    transition: 0.2s ease;
}

.blank-button.add-video-button:hover {
    background-color: var(--accent-3);
    color: var(--accent-2);
}

.videos_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: 260px;
    gap: 1rem;
    border: 2px solid var(--accent-2);
    border-radius: 15px;
    height: 100%;
    margin: 0 2rem;
    padding: 1rem;
    overflow-y: auto;
}

.saved-videos-container {

}

.delete-account-container {

}

.profile-section {
    display: none;
}

.profile-section.is-active {
    display: flex;
}