
.header {
    width: 100%;
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.9rem 2rem; 
    background-color: #000000d8;
    backdrop-filter: blur(10px);
    z-index: 100;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: var(--accent-2);
    box-shadow:
        0 4px 8px var(--accent-2),
        0 8px 16px var(--accent-3);
    pointer-events: none;
}

.logo img {
    height: 32px;
    display: block;
    margin-right: 25px;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    max-width: 420px;
    width: 100%;
    padding: 0.25rem 0.6rem;

    background: var(--bg);
    border-radius: 999px;
    border: 2px solid var(--accent-2);
}

.search-form:focus-within {
    border-color: var(--accent-3);
    box-shadow: 0 0 0 1px var(--accent-3),
                0 0 12px var(--accent-3); 
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;

    color: var(--text);
    font-size: 0.95rem;
    padding: 0.35rem 0.4rem;
}


.search-input::placeholder {
    color: #ffffff99;
}

.search-button {
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.0rem 0.65rem;
    border-radius: 999px;

    background: var(--accent-2);
    color: var(--bg);
    font-size: 1.2rem;
    cursor: pointer;

    transition: transform 0.15s ease, box-shadow 0.15s ease, background 0.15s ease;
}

.search-button:hover {
    transform: translateX(2px);
    background: var(--accent-3);
}

.search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

.clear-button {
    border: none;
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.9rem;
    color: var(--accent-3);
    padding: 0.25rem;
    opacity: 0.6;
    transition: opacity 0.15s ease, transform 0.15s ease;
}

.clear-button:hover {
    opacity: 1;
    transform: scale(1.05);
}

.clear-button:active {
    transform: scale(0.95);
}

.clear-button.hidden {
    display: none;
}

.account {
    margin-left: 25px;
}

.login-button {
    color: var(--accent-2);
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.15s ease
}

.login-button:hover {
    color: var(--accent-3);
}

.header-profile-image {
    width: 40px;
    height: 40px;
    border: 2px solid var(--accent-2);
    border-radius: 50%;
    transition: 0.2s ease;
}

.header-profile-image:hover {
    box-shadow: 0px 0px 6px 2px var(--accent-2);
}