.video-box {
    display: flex;
    flex-direction: column;

    max-height: 450px; 
    text-decoration: none;
    overflow: hidden;
    transition: 0.15s ease;

    border-radius: 0.75rem;
    padding-top: 0.75rem;
    transition: 0.15s ease;
}

.video-box:hover{
    background: var(--bg-elevated);
}

.thumbnail-wrapper {
    height: 85%;
    width: 90%;
    margin: 0 auto 0 auto;
    background: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 0.75rem;
    position: relative;
}



.thumbnail {
    height: 100%;
    width: auto;      
    display: block;
    margin: 0 auto;
}

.duration {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    color: var(--text);
    border-radius: 0.75rem;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(4px);
}

.info {
    padding: 1.0rem 0rem 0rem 2.5rem;
}

.title {
    font-size: 1.5rem;
    color: var(--text);
}