.video-box {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;
    border-radius: 0.75rem;
    padding-top: 0.75rem;
    transition: 0.15s ease;
}

.video-box:hover{
    background: var(--bg-elevated);
}

.thumbnail-wrapper {
    height: 78%;
    width: 90%;
    aspect-ratio: 16 / 9;
    margin: 0 auto 0 auto;
    background: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 0.75rem;
    position: relative;
}



.thumbnail {
    height: 100%;
    width: auto;      
    display: block;
    margin: 0 auto;
}

.duration {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    color: var(--text);
    border-radius: 0.75rem;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(4px);
}

.info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem 0rem 0.0rem 2.5rem;
}

.title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title {
    font-size: 1.5rem;
    color: var(--text);
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    min-width: 0;
}

.profile-image-on-video-info {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--accent-2);
    display: flex;
    justify-content: center;
    align-items: center;
}